@model MVCPartialView.Models.Employee

@using (Html.BeginForm("Summary", "Home", FormMethod.Post))
{
    <h1>Personal</h1>
    <div>
        @Html.Partial("_Personal",
           new ViewDataDictionary()
           {
               TemplateInfo = new TemplateInfo()
               { HtmlFieldPrefix = "Personal" }
           })
    </div>

    <hr />
    <input type="submit" value="summary" />
}
